.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}





h1{
  padding: 5%;
 
   text-align: center;
  font-family: 'Cinzel', serif, bold;
    font-weight: bold;
}
h3{
  text-align: center;
   font-family: 'Cinzel', serif;
}


  #inscrip {
  padding: 2%;
  margin-left: 30%;
  background-color:gainsboro;
    width: 40%;
 }

#mar{
  margin-bottom:10rem ;
}

#footer{
  height: 10rem;
  color: rgb(32, 17, 17);
}
