.App {
	text-align: center;
}


h1 {
	padding: 5%;

	text-align: center;
	font-family: "Cinzel", serif, bold;
	font-weight: bold;
}
h2 {
	text-align: center;
	
}
h3 {
	text-align: center;

}

#inscrip {
	padding: 2%;
	margin-left: 30%;
	background-color: gainsboro;
	width: 40%;
}

#mar {
	margin-bottom: 10rem;
}

#footer {
	height: 10rem;
	color: rgb(32, 17, 17);
}
/* nav */
#menu {
background-color: #1b120f;
color:#e6dedd;
	/* display: flex;
	justify-content: space-between;
	width: 100%; */
}

ul {
	display: flex;
	justify-content: space-between;
}

.menu_list {
	display: flex;

}
/* MainList and ProduitCard */
.mycards {
	margin: 40px;
}

.mycards label {
	margin: 20px;
}

/* Basket and BasketCard  */
.cardB{
	margin: 20px;
	padding: 15px;
}
.buttonB{
	margin-left: 5vw;
}
.buttonD{
	float: right;
}

#tableProduct{
	margin: 10vh 2vh 0vh 2vh;
}
.allphone-img {
  width: 60px;
}
.allPhone-container {
  padding: 0 42px;
  margin-top: 50px;
}
/* 
.allPhone--button-add {
  button {
    display: block;
    margin: auto;
  }
} */



